.menu-toolbar {
  display: flex;
  align-items: center;
  gap: 5px;

  ion-title {
    margin-left: -8px;
  }
}

ion-searchbar {
  --border-radius: 4px;

  ion-buttons {
    position: absolute;
  }
}

ion-tab-bar {
  span {
    padding-top: 5px;
  }

  ion-icon {
    margin-top: 2px;
  }
}

.profile {
  img {
    max-height: 30px;
  }
}

.menu-content, .menu-footer {
  ion-row {
    gap: 10px;
    width: 100%;
  }

  ion-list {
    height: 100%;
  }

  ion-icon {
    width: 30px;
    height: 22px;
  }
}
