<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar class="menu-toolbar">
      <ion-icon class="ion-padding-horizontal" slot="start" size="large" name="logo"/>
      <ion-title class="ion-no-padding">Space</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="menu-content">
    <ion-list lines="full">
      @if (currentUser.asObservable | async; as user) {
        <ion-item>
          <ion-row class="profile ion-align-items-center">
            <img class="rounded"
                 pic
                 format="thumb"
                 [alt]="currentUser.initials"
                 [src]="user?.avatar"/>
            {{ currentUser.fullName }}
          </ion-row>
        </ion-item>
      }
      <ion-item>
        <ion-row class="ion-align-items-center">
          <ion-icon name="settings-outline"/>
          <ion-label>Settings</ion-label>
        </ion-row>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer class="menu-footer">
    <ion-list lines="none">
      <ion-item (click)="logout()">
        <ion-row class="ion-align-items-center">
          <ion-icon name="log-out-outline"/>
          <ion-label>Logout</ion-label>
        </ion-row>
      </ion-item>
    </ion-list>
  </ion-footer>
</ion-menu>
<ion-toolbar>
  <ion-searchbar [searchIcon]="false">
    <ion-buttons slot="end">
      <ion-menu-button/>
    </ion-buttons>
  </ion-searchbar>
</ion-toolbar>
<ion-content class="ion-padding" id="main-content">
  <router-outlet/>
</ion-content>
<ion-tab-bar slot="bottom">
  <ion-tab-button>
    <ion-icon name="home-outline"/>
    <span>Home</span>
  </ion-tab-button>
  <ion-tab-button>
    <ion-icon name="bookmarks-outline"/>
    <span>Favorites</span>
  </ion-tab-button>
  <ion-tab-button>
    <ion-icon name="images-outline"/>
    <span>Albums</span>
  </ion-tab-button>
  <ion-tab-button>
    <ion-icon name="folder-outline"/>
    <span>Files</span>
  </ion-tab-button>
</ion-tab-bar>
